<settings>
	<category label="Video Setting">
	    <setting label="Chất lượng phim" type="labelenum" id="video_quality" default="Full HD" values="SD|HD|Full HD|Chọn khi xem"/>
		<setting label="Phương Thức lấy dữ liệu" type="labelenum" id="info_method" default="API" values="API|WEB"/>
	    <setting label="Phụ đề" type="labelenum" id="subtitle" default="VIE" values="VIE|ENG|Tắt"/>
		<setting label="Bật thuyết minh (nếu có)" type="bool" id="useViAudio" default="true"/>
		<setting label="Bật âm thanh 5.1 (nếu có, đang thử nghiệm)" type="bool" id="useDolbyAudio" default="true"/>
		<setting label="Lấy FullHD (API cũ)" type="bool" id="tryfullhd" default="true"/>
		<setting id="npp" default="25" type="number" label="Số lượng phim trong 1 trang"/>
	</category>
	<category label="Account Setting">
	    <setting id="userhdviet" default="" type="text" label="Email/Số ĐT"/>
		<setting id="passhdviet" default="" type="text" option="hidden" label="Password"/>
		<setting id="token" type="text" visible="false" default="none" label="Token"/>
	</category>
</settings>