<settings>
	<setting id="fshare_email" default="" type="text" label="Email Fshare"/>
	<setting id="fshare_password" default="" type="text" option="hidden" label="Password Fshare"/>
	<setting id="updateinterval" type="labelenum" values="60|90|120|180|240" default="60" label="Chu kỳ cập nhật (Phút)"/>
	<setting id="autopickserver" type="bool" label="Tự động chọn nguồn phim" default="true"/>
	<setting id="lastupdate" type="number" visible="false" default="0" label="Lastupdate"/>
	<setting id="lastsync" type="number" visible="false" default="0" label="LastSync"/>
	<setting id="firstrun" type="number" visible="false" default="1" label="Firstrun"/>
</settings>